.white-background{
    -fx-background-color: #fff;
}

.search-bar{
    -fx-border-color: #2997CC;
    -fx-border-width: 3;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.tab-pane *.tab-header-background{
    -fx-background-color: rgba(0,0,0,0);
}

.tab:selected{
    -fx-background-color:#F5F5F5;
    -fx-pref-height:30;
}

.scrollpane .viewport{
    -fx-background-color:white;
}

.scrollpane .viewport-2{
    -fx-background-color:white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #D77E78;
    -fx-text-fill: white;
}
.list{
    -fx-background-radius:20px;
}

.list-cell { -fx-text-fill: black;}
.list-cell:odd { -fx-background-color: #F5F5F5; }
.list-cell:even { -fx-background-color: #F5F5F5; }
.list-cell:filled:hover { 
    -fx-background-color: #FBE0C3; 
    -fx-text-fill: white; 
}